# Data preparation for clustering

For clustering using the k-means method we will need to follow a few steps:
* **Standardise the data:** The process of converting an actual range of values into a standard range of values
* **Find a Similarity Measure:**
* **Interpret Results:**

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

Importing cleaned data

In [2]:
all_data = pd.read_csv('data/all_data.csv')
all_data=all_data.drop(["Unnamed: 0"], axis=1) # Drop Unnamed: 0 column
all_data.head()

df = pd.read_csv('data/all_data.csv')
df=df.drop(["Unnamed: 0"], axis=1) # Drop Unnamed: 0 column

Changing categorical data entries can be done by One-hot encoding.

**One-hot encoding** is a method during data preparation for converting categorical data variables so they can be provided to machine learning algorithims to improve predictions

LabelEncoder() is a data manipulation function used to convert categorical data into indicator variables

:::{note}
Machine learning models require all input and output variables to be numeric
:::

It is impossible to do k-means clustering on a categorical variable

In [3]:
all_data = pd.get_dummies(all_data, columns=["Study_Type"])

In [4]:
all_data.head()

,Total,No_participants,Amount_won,Amount_lost,1,2,3,4,Study_Type_Fridberg,Study_Type_Horstmann,Study_Type_Kjome,Study_Type_Maia,Study_Type_Premkumar,Study_Type_Steingroever2011,Study_Type_SteingroverInPrep,Study_Type_Wetzels,Study_Type_Wood,Study_Type_Worthy
0,1150,95,5800,-4650,12.0,9.0,3.0,71.0,1,0,0,0,0,0,0,0,0,0
1,-675,95,7250,-7925,24.0,26.0,12.0,33.0,1,0,0,0,0,0,0,0,0,0
2,-750,95,7100,-7850,12.0,35.0,10.0,38.0,1,0,0,0,0,0,0,0,0,0
3,-525,95,7000,-7525,11.0,34.0,12.0,38.0,1,0,0,0,0,0,0,0,0,0
4,100,95,6450,-6350,10.0,24.0,15.0,46.0,1,0,0,0,0,0,0,0,0,0

### Standardising data

As for K-means, often it is not sufficient to normalize only mean. One normalizes data equalizing variance along different features as K-means is sensitive to variance in data, and features with larger variance have more emphasis on result. So for K-means, I would recommend using StandardScaler for data preprocessing.

Don't forget also that k-means results are sensitive to the order of observations, and it is worth to run algorithm several times, shuffling data in between, averaging resulting clusters and running final evaluations with those averaged clusters centers as starting points.

### Standardising data Test

In [5]:
df = pd.get_dummies(df, columns=["Study_Type"])

In [8]:
scaler = preprocessing.StandardScaler()
segmentation_std = scaler.fit_transform(df)

In [12]:
segmentation_std

array([[ 1.04498799, -0.69883592, -1.47141336, ..., -0.26679684,
        -0.57423112, -0.2452294 ],
       [-0.41434565, -0.69883592, -0.53861339, ..., -0.26679684,
        -0.57423112, -0.2452294 ],
       [-0.47431826, -0.69883592, -0.63510994, ..., -0.26679684,
        -0.57423112, -0.2452294 ],
       ...,
       [ 1.28487845,  2.29926737,  0.81233829, ...,  3.74817029,
        -0.57423112, -0.2452294 ],
       [ 1.08496973,  2.29926737,  1.39131758, ...,  3.74817029,
        -0.57423112, -0.2452294 ],
       [-1.31393487,  2.29926737,  3.32124855, ...,  3.74817029,
        -0.57423112, -0.2452294 ]])

The standardised data is now stored in an array. I will convert it back to a pandas dataframe,

In [15]:
df_standard = pd.DataFrame(segmentation_std, columns=['Total', 'No_participants', 'Amount_won', 'Amount_lost', '1', '2', '3', '4', 'Study_Type_Fridberg', 'Study_Type_Horstmann', 'Study_Type_Kjome', 'Study_Type_Maia', 'Study_Type_Premkumar', 'Study_Type_Steingroever2011', 'Study_Type_SteingroverInPrep', 'Study_Type_Wetzels', 'Study_Type_Wood', 'Study_Type_Worthy'])
df_standard

,Total,No_participants,Amount_won,Amount_lost,1,2,3,4,Study_Type_Fridberg,Study_Type_Horstmann,Study_Type_Kjome,Study_Type_Maia,Study_Type_Premkumar,Study_Type_Steingroever2011,Study_Type_SteingroverInPrep,Study_Type_Wetzels,Study_Type_Wood,Study_Type_Worthy
0,1.044988,-0.698836,-1.471413,1.525683,-0.477115,-1.386904,-1.089197,2.131753,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
1,-0.414346,-0.698836,-0.538613,0.135451,1.024186,-0.420182,-0.668854,0.038743,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
2,-0.474318,-0.698836,-0.635110,0.167288,-0.477115,0.091612,-0.762264,0.314139,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
3,-0.294400,-0.698836,-0.699441,0.305250,-0.602224,0.034746,-0.668854,0.314139,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
4,0.205371,-0.698836,-1.053262,0.804036,-0.727332,-0.533914,-0.528740,0.754773,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,0.365298,2.299267,2.613607,-1.530705,1.024186,2.025056,-0.622150,0.644614,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
613,1.844623,2.299267,0.780173,0.464437,-1.352875,-0.135852,0.919107,1.966515,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
614,1.284878,2.299267,0.812338,0.146063,0.273535,-0.818244,0.498764,2.407149,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
615,1.084970,2.299267,1.391318,-0.342110,1.149295,-0.192718,0.825698,1.030169,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
616,-1.313935,2.299267,3.321249,-2.889100,-0.602224,4.015366,-0.949083,-0.181574,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229

**Exporting Data to CSV file**

In [16]:
df_standard.to_csv('data/normalise.csv')

### Conclusion