# K-means Variation

In [55]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
%matplotlib inline

#### Read in data

In [58]:
df = pd.read_csv('data/normalise.csv')
df=df.drop(["Unnamed: 0"], axis=1) # Drop Unnamed: 0 column
df.head()

,Total,Study_Type,No_participants,Amount_won,Amount_lost,1,2,3,4
0,1.044988,-1.607073,-0.698836,-1.471413,1.525683,-0.477115,-1.386904,-1.089197,2.131753
1,-0.414346,-1.607073,-0.698836,-0.538613,0.135451,1.024186,-0.420182,-0.668854,0.038743
2,-0.474318,-1.607073,-0.698836,-0.635110,0.167288,-0.477115,0.091612,-0.762264,0.314139
3,-0.294400,-1.607073,-0.698836,-0.699441,0.305250,-0.602224,0.034746,-0.668854,0.314139
4,0.205371,-1.607073,-0.698836,-1.053262,0.804036,-0.727332,-0.533914,-0.528740,0.754773